<h3>Welcome {{vm.user.firstName}}!!</h3>

<div class="container">
    <table ng-table="vm.tableParams" class="table table-bordered table-striped" show-filter="true">
        <tr ng-repeat="movie in vm.movies">
            <td width="30%" title="'Title'" filter="{ title: 'text'}" sortable="'title'">
                {{movie.title}}</td>
            <td title="'Actors'" filter="{ actors: 'text'}" sortable="'actors'">
                {{movie.actors}}</td>

            <td width="10%"title="'Duration'" filter="{ duration: 'number'}" sortable="'duration'">
                {{movie.duration}}</td>

            <td width="10%"title="'Production year'" filter="{ year: 'number'}" sortable="'year'">
                {{movie.year}}</td>

            <td> </td> 
            <td width="10%">
                <div class="btn-group">
                    <button title="Edit movie" class="btn btn-primary"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>
                    <button title="Delete movie" class="btn btn-danger"ng-click="vm.deleteMovie(movie)" ><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                </div>
            </td>
        </tr>
    </table>
</div>

<div class="form-container">
    <form method="post">
            <div class="form-group col-md-3">
                <label for="title">Title</label>
                <input type="text" id="name" class="form-control" ng-model="vm.movie.title" required />
            </div>
            <div class="form-group col-md-3">
                <label for="actors">Actors</label>
                <input type="text" id="actors" class="form-control" ng-model="vm.movie.actors" required />
            </div>
            <div class="form-group col-md-2">
                <label for="duration">Duration</label>
                <input type="number" id="duration" class="form-control" ng-model="vm.movie.duration" />
            </div>
            <div class="form-group col-md-2">
                <label for="year">Production year</label>
                <input type="number" id="year" class="form-control" ng-model="vm.movie.year" min="1800" max="5000" required />
            </div>
            <div class="form-group col-md-2">
                <br>
                <button class="btn btn-primary" ng-click="vm.createMovie()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create movie</button>
            </div>
    </form>
</div>